# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

## Data Preprocessing

### Importing the dataset

In [21]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values
dataset.sample(20)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
8272,8273,15705739,Toscani,753,Germany,Male,32,5,159904.79,1,1,0,148811.14,0
8487,8488,15791877,Gallagher,706,Germany,Male,34,0,140641.26,2,1,1,77271.91,0
5864,5865,15803840,Forbes,729,France,Female,32,9,0.00,2,0,0,150803.44,0
9322,9323,15739042,Bogolyubov,767,France,Female,35,9,0.00,2,1,0,39511.61,0
2527,2528,15709396,Hale,801,France,Male,42,6,0.00,2,1,1,95804.33,0
6792,6793,15776096,Halpern,606,Spain,Male,34,3,161572.24,1,0,1,191076.22,0
5552,5553,15651315,Dilke,627,France,Male,41,3,0.00,2,1,0,132719.80,0
2285,2286,15783615,Ramos,630,Germany,Male,50,3,129370.91,4,1,1,47775.34,1
596,597,15697183,Uchenna,685,Spain,Male,43,9,0.00,2,1,0,107811.28,0
1132,1133,15762110,Anderson,628,France,Male,37,0,0.00,2,1,1,171707.93,0
8655,8656,15705050,Linger,611,France,Male,30,9,0.00,2,1,1,148887.69,0
5217,5218,15796434,Farnsworth,724,France,Male,28,5,97612.12,1,1,1,96498.14,0
7006,7007,15660390,Boyle,544,France,Female,33,6,0.00,2,1,1,124113.04,0
514,515,15682048,Pisano,605,France,Female,51,3,136188.78,1,1,1,67110.59,1
9227,9228,15644977,Goddard,776,France,Female,31,5,0.00,2,1,0,92647.94,0
3827,3828,15654733,Hsieh,794,Germany,Male,57,3,117056.46,1,1,0,93336.93,1
6719,6720,15776629,Christie,650,France,Female,39,4,0.00,2,0,0,186275.70,0
7735,7736,15774936,Liang,543,Germany,Male,41,6,143350.41,1,1,1,192070.16,1
6849,6850,15775678,Uspensky,716,France,Female,44,1,0.00,1,1,1,152108.47,0
73,74,15779052,Ballard,604,Germany,Female,25,5,157780.84,2,1,1,58426.81,0

### Encoding categorical data

Label Encoding the "Gender" column

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

One Hot Encoding the "Geography" column

In [23]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))

### Splitting the dataset into the Training set and Test set

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Building the ANN model

In [26]:
ann = tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))
ann.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [27]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5953 - accuracy: 0.7160
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4941 - accuracy: 0.7956
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4648 - accuracy: 0.7976
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4470 - accuracy: 0.8008
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4367 - accuracy: 0.8075
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4296 - accuracy: 0.8129
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4230 - accuracy: 0.8151
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4160 - accuracy: 0.8183
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4084 - accuracy: 0.8241
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3995 - accuracy: 0.8305
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3907 - accuracy: 0.8328
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3815 - accuracy: 0.8394
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3726 - accuracy: 0.8438
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3651 - accuracy: 0.8479
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3588 - accuracy: 0.8506
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3544 - accuracy: 0.8521
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3512 - accuracy: 0.8551
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3489 - accuracy: 0.8560
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3474 - accuracy: 0.8584
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3462 - accuracy: 0.8569
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8583
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8595
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8609
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8611
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8601
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8611
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8608
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8612
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8615
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8609
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8618
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8591
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8616
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8605
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8618
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8608
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8624
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8620
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8630
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8618
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8625
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8612
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8614
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8629
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8618
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8616
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8630
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8637
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8614
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8624
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8633
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8640
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8639
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8622
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8627
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8621
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8624
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8619
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8640
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8622
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8630
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8619
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8634
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8626
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8631
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8634
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8629
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8640
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8636
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8629
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8636
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8643
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8633
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8637
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8633
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8635
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8640
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8620
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8639
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8633
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8621
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8634
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8622
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8635
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8651
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8644
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8626
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8645
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8637
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8640
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8645
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8625
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8633
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8636
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8640
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8633
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8639
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8640
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8639
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8630

## Making the predictions and evaluating the model

### Predicting the result of single observations

In [44]:
dataset.sample(20)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7214,7215,15652658,Finch,721,France,Male,36,1,155176.83,2,1,1,49653.37,0
505,506,15576623,Outlaw,584,France,Male,31,5,0.00,2,1,0,31474.27,0
2018,2019,15696703,Dean,691,Germany,Male,27,3,160358.68,2,1,0,142367.72,0
7646,7647,15741633,Fuller,566,Spain,Male,32,10,147511.26,1,1,1,159891.03,0
2493,2494,15715920,De Bernales,782,Spain,Male,23,10,98052.66,1,1,1,142587.32,0
5917,5918,15812184,Rose,674,France,Female,31,1,0.00,1,1,0,128954.05,0
4912,4913,15792228,Onwumelu,748,France,Male,60,0,152335.70,1,1,0,126743.33,1
7813,7814,15592751,Okwudiliolisa,684,Germany,Female,63,3,81245.79,1,1,0,69643.31,1
750,751,15790314,Onuoha,649,France,Male,41,0,0.00,2,0,1,130567.02,0
9314,9315,15645371,Cameron,613,Germany,Female,51,7,147262.11,1,1,1,53630.90,1
7047,7048,15731586,Lai,785,Spain,Female,31,2,121691.54,2,0,0,81778.72,0
6193,6194,15727198,Teng,689,Germany,Female,28,2,64808.32,2,0,0,78591.15,0
3091,3092,15662901,Hu,656,France,Male,37,2,0.00,2,0,1,67840.81,0
6578,6579,15786078,Loginov,850,France,Female,28,9,0.00,2,1,0,185821.41,0
4938,4939,15727703,Li Fonti,773,Germany,Male,34,10,126979.75,1,0,0,36823.28,0
5241,5242,15581526,Iweobiegbulam,574,France,Male,41,1,0.00,2,0,0,70550.00,0
4296,4297,15702788,Gadsdon,775,France,Male,40,9,126212.64,1,1,0,70196.57,0
2568,2569,15775905,Moore,612,Germany,Female,47,6,130024.87,1,1,1,45750.21,1
1437,1438,15742632,Alexeyeva,670,France,Female,31,9,0.00,1,0,1,76254.83,0
8918,8919,15578787,Goddard,641,France,Female,52,4,0.00,1,1,0,90964.54,1

Using the model to predict if the customers with the following informations will leave the bank: 

1. Geography: France, Score: 600, Sex: M/F, Age: 40yrs, Tenure: 3yrs, Balance: $60K, Num of Products: 2, Credit card: Yes, Active: Yes Estimated Salary: $50K
2. Geography: Spain, Score: 350, Sex: M/F, Age: 42yrs, Tenure: 8yrs, Balance: $160K, Num of Products: 3, Credit card: Yes, Active: No Estimated Salary: $114K
3. Geography: Germany, Score: 674, Sex: M/F, Age: 54yrs, Tenure: 4yrs, Balance: $0, Num of Products: 1, Credit card: Yes, Active: No Estimated Salary: $91K
4. Geography: France, Score: 900, Sex: M/F, Age: 42yrs, Tenure: 8yrs, Balance: $100K, Num of Products: 1, Credit card: Yes, Active: Yes Estimated Salary: $72K

In [46]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)
print(ann.predict(sc.transform([[1, 0, 0, 600, 0, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 16ms/step
[[False]]
1/1 [==============================] - 0s 16ms/step
[[False]]

In [47]:
print(ann.predict(sc.transform([[0, 0, 1, 350, 1, 42, 8, 160000, 3, 1, 0, 114000]])) > 0.5)
print(ann.predict(sc.transform([[0, 0, 1, 350, 0, 42, 8, 160000, 3, 1, 0, 114000]])) > 0.5)

1/1 [==============================] - 0s 13ms/step
[[ True]]
1/1 [==============================] - 0s 24ms/step
[[ True]]

In [83]:
print(ann.predict(sc.transform([[0, 1, 0, 674, 1, 54, 4, 0, 1, 1, 0, 91000]])) > 0.5)
print(ann.predict(sc.transform([[0, 1, 0, 674, 0, 42, 4, 0, 1, 1, 0, 91000]])) > 0.5)

1/1 [==============================] - 0s 16ms/step
[[ True]]
1/1 [==============================] - 0s 16ms/step
[[ True]]

In [91]:
print(ann.predict(sc.transform([[1, 0, 0, 900, 1, 25, 6, 100000, 1, 1, 1, 72000]])) > 0.5)
print(ann.predict(sc.transform([[1, 0, 0, 900, 0, 25, 6, 100000, 1, 1, 1, 72000]])) > 0.5)

1/1 [==============================] - 0s 16ms/step
[[False]]
1/1 [==============================] - 0s 16ms/step
[[False]]

From the above observations, we can may make the following conclusions:
1. Atleast gender has little to no effect on whether the person leaves the bank or not and hence it proves to be an almost useless feature for our analysis
2. It appears, that a person who is an inactive member, or has minimal balance in the bank is quite likely to leave
3. Younger members are more likely to stay
4. The number of products a person has does not affect their exit from the bank to much extent

More such conclusions can be made on making more such observations. The above observations may not be a 100% true, becausse we have made these conclusions using a very small number of predictions, but the process remains the same.

### Predicting the Test set results

In [92]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))
y_pred.shape

63/63 [==============================] - 0s 2ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

(2000, 1)

### Making the Confusion Matrix

In [93]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1524   71]
 [ 196  209]]

0.8665